html {
	box-sizing: border-box;
}

::-moz-selection {
	background-color: $color__background_selection;
}

::selection {
	background-color: $color__background_selection;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: $color__background-body;
}

a {
	@include link-transition;
	color: $color__link;
}

a:visited {

}

a:hover,
a:active {
	color: $color__link-hover;
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: thin;
	outline-style: dotted;
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: $size__spacing-unit 0;
}

h1:not(.site-title),
h2 {
	@include post-section-dash;
}

hr {
	background-color: $color__text-light;
	border: 0;
	height: 2px;
}

@import "lists";

img {
	height: auto;
	max-width: 100%;
	position: relative;
}

figure {
	margin: 0;
}

blockquote {
	border-left: 2px solid $color__link;
	margin-left: 0;
	padding: 0 0 0 $size__spacing-unit;

	> p {
		margin: 0 0 $size__spacing-unit;
	}

	cite {
		color: $color__text-light;
	}
}

@import "tables";

.breadcrumbs {
	// background-color: rgba(black, .5);

	font-family: $font__heading;
	padding: 0;
	font-size: .8em;

    max-width: calc(100% - (2 * 1rem));
    margin: 0 0 1rem;
    z-index: 6;

    .site-featured-image + & {
    	color: #fff;
		a, a:visited {
			color: #fff;
			font-weight: bold;
			text-decoration: underline;
		}
    }


    @media(min-width: 48rem) {
    	max-width: 80%;
    	margin: 0 10%;
	    padding: 0 60px;
	    position: relative;
	    top: 40px;
	    // font-size: 1em;
    }
}