.archive .page-header,
.search .page-header,
.error404 .page-header {

	margin: $size__spacing-unit $size__spacing-unit calc(3 * #{$size__spacing-unit});

	@include media(tablet) {
		margin: 0 $size__site-margins $size__site-margins;
	}

	.page-title {

		color: $color__text-light;
		display: inline;
		letter-spacing: normal;

		&:before {
			display: none;
		}
	}

	.search-term,
	.page-description {
		display: inherit;
		clear: both;

		&:after {
			content: ".";
			font-weight: bold;
			color: $color__text-light;
		}
	}
}

.archive .page-header .page-description {
	display: block;
	color: $color__text-main;
	font-size: 1em;
}

.hfeed .entry .entry-header {

	@include media(tablet) {
		margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
	}
}

/* 404 & Not found */

.error-404.not-found,
.no-results.not-found {

	.page-title,
	.page-content {

		margin: calc(3 * #{$size__spacing-unit}) #{$size__spacing-unit};

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins calc(#{ $size__spacing-unit } / 2);
		}
	}

	.search-submit {
		vertical-align: middle;
		margin: $size__spacing-unit 0;
	}

	.search-field {
		width: 100%;
	}
}

.archive .entry {

	.excerpt-wrap{
		display: flex;
		flex-direction: column;
		padding: 2rem 0;
		@media(min-width: 54rem) {
			flex-direction: row;
		}
	}

	.post-thumbnail {
		flex: 1;
		margin: .5rem 0;

		&::before, &::after {
			background: transparent !important;
		}

		.post-thumbnail-inner {
			filter: none;
		}

		@media(min-width: 54rem) {
			margin: 1rem 30px 1rem calc(10% + 60px);
			align-self: center;

			img {
				max-height: 300px;
				width: auto;
				// float: right;
			}
		}
	}

	.post-thumbnail + .entry-content {
		flex: 2;
		margin: 0;
		padding: 0 40px 0 0;
		align-self: center;

		@media(min-width: 80rem) {
			flex: 3;
		}

		@media(min-width: 90rem) {
			font-size: 1.2em;
		}
	}

}